
/* RGB */
$CardBackground3Alt: rgba(62, 68, 188, 1);
$CardBackground: rgba(255, 255, 255, 1);
$NavBar: rgba(26, 28, 30, 1);
$CardForeground: black;
$background: rgba(40, 44, 47, 1);
$CardBackground2: rgba(50, 78, 114, 1);