/* Coolors Exported Palette - coolors.co/3e44bc-ffffff-1a1a1c-2a2d34-009ddc */

/* HSL */
$color1: hsla(237%, 50%, 49%, 1);
$color2: hsla(0%, 0%, 100%, 1);
$color3: hsla(240%, 4%, 11%, 1);
$color4: hsla(222%, 11%, 18%, 1);
$color5: hsla(197%, 100%, 43%, 1);

/* RGB */
$color1: rgba(62, 68, 188, 1);
$color2: rgba(255, 255, 255, 1);
$color3: rgba(26, 26, 28, 1);
$color4: rgba(42, 45, 52, 1);
$color5: rgba(0, 157, 220, 1);